{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <h2 align="center">Основная информация</h2>
        <br>
        <p>Данный сайт предназначен для ...</p>
        <p>Если у Вас имеются пожелания или замечания, быть может замечаны неполадки или сбои, то воспользуйтесь приведенными ниже контактами для соответсвующего обращения.</p>
        <hr>
    </div>

    <div class="container">
        <h3 align="center">Контактная информация</h3>
        <br/>

        <div class="row">
            <div class="col-md-8">
                <address>
                    <br/>
                    <br/>
                    <br/>

                    Беларусь
                    <br/>
                    <abbr title="Phone">...</abbr>
                    <br/>
                    <abbr title="Phone">...</abbr>
                </address>

                <section>
                    <strong>Разработчик:</strong> <a target="_blank" href="https://itgen.io/">ООО "Айтигенио"</a>
                    <br/>
                    ...
                    <br/>
                    <em>...</em>
                    <em>...</em>
                </section>

                <br/>

                <address>
                    <strong>Обратная связь:</strong>   <a href="mailto:itgenik@itgen.io">itgenik@itgen.io</a><br />
                </address>
            </div>

            <div class="col-md-4">
                <img src="https://yt3.ggpht.com/a/AGF-l79D8o3k0GOyRnijsRCnptcHZq6TNkVmX7Ei7A=s900-c-k-c0xffffffff-no-rj-mo" width="320" height="320">
            </div>
        </div>
    </div>
{% endblock %}
