{% extends "base.html" %}

{% block app_content %}	
    <div align="center" class="jumbotron">
        <h2>Добро пожаловать!</h2>
        <p>Данный проект создан специально для Вас. Создайте учетную запись и пользуйтесь приложением для ...
        <br/> Все данные защищены, конфиденциальность гарантирована.</p>
    </div>

    <div class="featured_content">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 feature_grid1">
                    <i class="fa fa-ruble fa-3x"></i>
                    <h3><a href="#">Экономте</a></h3>
                    <p>Только наши цены самые низкие. Здесь Вы сможете ...</p>

                </div>

                <div class="col-md-3 feature_grid1">
                    <i class="fa fa-android fa-3x"></i>
                    <h3><a href="#">Android-приложение</a></h3>
                    <p>Что может быть лучше, чем использовать наше мобильное приложение?</p>
                    <a href="#" class="feature_btn">Скачать</a>
                </div>

                <div class="col-md-3 feature_grid1">
                    <i class="fa fa-lock fa-3x"></i>
                    <h3><a target="_blank" href="#">Защищенность данных</a></h3>
                    <p>Мы ценим своих пользователей. Ознакомтесь с <a target="_blank" href="#">политикой конфеденциальности</a> и <a target="_blank" href="#">пользовательским соглашением</a></p>
                    <a href="#" class="feature_btn">Ознакомиться</a>
                </div>

                <div class="col-md-3 feature_grid1">
                    <i class="fa fa-question fa-3x"></i>
                    <h3><a target="_blank" href="#">Руководство пользователя</a></h3>
                    <p>Вы всегда можете обратиться к <a target="_blank" href="#">справочнику</a>. Но если нужного ответа не найдется, напишите по адресу <a href="mailto:checkbook2019@gmail.com">itgenik@itgen.io</a>.</p>
                    <a target="_blank" href="#" class="feature_btn">Перейти</a>
                </div>
            </div>
        </div>
    </div>
	
	<section id="content">


	    <div class="container">

	        <div class="row">
                <div class="col-md-8">
                    <div class="block-heading-two">
                        <h3 align="center"><span>Basic Flask project представляет</span></h3>
                    </div>

                    <p align="center">
						<video src="../static/video/itgenio_welcome.mp4" width="432" height="240" controls="controls" poster="../static/img/Itgenio.PNG">
							<source src="../static/video/itgenio_welcome.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							Тег video не поддерживается вашим браузером.
							<a href="../static/video/itgenio_welcome.mp4">Скачайте видео</a>.
						</video>
					</p>
					
					<blockquote>
						Человек знает о существовании неисчислимого множества вещей, о которых он ничего не знает. Количество вещей, о существовании которых человек только подозревает, но больше ничего не знает, служит довольно запутанным примером. Но это вовсе не плохо, поскольку, если человек знает, что он чего-то не знает, он просто может ввести поисковый запрос в Google и... вуаля. Сложнее становится, если человек даже не знает о существовании явлений, о которых он ничего не знает. Незнание такого рода, к сожалению, открывает человеку путь к сильным потрясениям.						
					</blockquote>
					<cite>
						&copy; Кай Шшрайбер, проект "Riesenmaschine - абсолютно новая Вселенная"
					</cite>
					
					<hr>
					<p>
						Это приложение как абсолютно новая реальность...
					</p>
					<hr>
                </div>

                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h3><span>Наши направления</span></h3>
                    </div>

                    <div class="panel-group" id="accordion-alt3">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                        <i style="color: deepskyblue;" class="fa fa-angle-right"></i> Python # 1
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Python (пайтон или питон, как у нас говорят) - активно развивающийся объектно-ориентированный язык программирования. У Питона очень простой и понятный синтаксис, именно поэтому он так распространен для обучения детей и рекомендуется вообще как первый язык программирования. 
									Python используют такие IT-гиганты как Google и Yandex. Тот же Instagram написан на Питоне.  <br><br> <p align="center"><a class="btn btn-link" href="https://itgen.io/programmirovanie-dly-detej-na-python" target="_blank">Перейти</a></p>
                                </div>
                            </div>
                        </div>                      

                         <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                        <i style="color: deepskyblue;" class="fa fa-angle-right"></i> Web-Design и JavaScript # 2
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Web-программирование - это конструирование и создание сайтов, при помощи языка разметки HTML, стилей CSS и языка программирования JavaScript.
									HTML - это скелет сайта, CSS - это его внешний вид, а JavaScript - способности. Даже, чтобы сделать красивое, анимированное нажатие кнопки понадобится написать небольшой скрипт.  <br><br> <p align="center"><a class="btn btn-link" href="https://itgen.io/programmirovanie-na-javascript-dly-detey" target="_blank">Перейти</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                        <i style="color: deepskyblue;" class="fa fa-angle-right"></i> C# и Uniti # 3
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseThree-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Unity — межплатформенная среда разработки компьютерных игр, или, как говорят пользователи, игровой движок. Unity позволяет создавать двухмерные и трёхмерные игры для большинства популярных, на сегодняшний день, платформ, включая персональные компьютеры (на операционных системах Windows, MacOS, Linux), игровые консоли (PS, Xbox), планшеты и мобильные устройства (на базе Android, iOS, Windows Phone).
									На Unity написаны тысячи игр различных жанров. Многие из этих игр обрели огромную популярность. Данный игровой движок используется как крупными студиями, так и независимыми разработчиками.  <br><br> <p align="center"><a class="btn btn-link" href="https://itgen.io/unity-itgenio" target="_blank">Перейти</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                        <i style="color: deepskyblue;" class="fa fa-angle-right"></i> Flask # 4
                                    </a>
										</h4>
                            </div>

                            <div id="collapseFour-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Flask — фреймворк для создания веб-приложений на языке программирования Python, использующий набор инструментов Werkzeug, а также шаблонизатор Jinja2. Относится к категории так называемых микрофреймворков[en] — минималистичных каркасов веб-приложений, сознательно предоставляющих лишь самые базовые возможности. <br><br> <p align="center"><a class="btn btn-link" href="#" target="_blank">Перейти</a></p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
		</div>
	</section>
	
    <div align="center">
        <div class="container">
            <div class="carousel slide" data-ride="carousel">
				
                <div class="carousel-inner">
                    <div class="item">
                        <blockquote> 
							Программирование сегодня — это гонка разработчиков программ, стремящихся писать программы с большей и лучшей идиотоустойчивостью, и вселенной, которая пытается создать больше отборных идиотов. Пока вселенная побеждает.
						</blockquote>
                        <cite>
                            <b>- Rick Cook -</b>
                        </cite>
                    </div>
                    <div class="item">
                        <blockquote>
							Не волнуйтесь, если что-то не работает. Если бы всё работало, вас бы уволили.
						</blockquote>
                        <cite>
                            <b>- Mosher’s Law of Software Engineering -</b>
                        </cite>
                    </div>
                    <div class="item active">
                        <blockquote>
							В теории, теория и практика неразделимы. На практике это не так.
						</blockquote>
                        <cite>
                            <b>- Yoggi Berra -</b>
                        </cite>
                    </div>
                    <div class="item">
                        <blockquote>
							Измерять продуктивность программиста подсчетом строк кода — это так же, как оценивать постройку самолета по его весу.
						</blockquote>
                        <cite>
                            <b>- Bill Gates -</b>
                        </cite>
                    </div>
                    <div class="item">
                        <blockquote>
							Многие из вас знакомы с достоинствами программиста. Их всего три, и разумеется это: лень, нетерпеливость и гордыня.
						</blockquote>
                        <cite>
                            <b>- Larry Wall -</b>
                        </cite>
                    </div>
                    <div class="item">
                        <blockquote>
							Большинство хороших программистов делают свою работу не потому, что ожидают оплаты или признания, а потому что получают удовольствие от программирования.
						</blockquote>
                        <cite>
                            <b>- Linus Torvalds -</b>
                        </cite>
                    </div>
                    <div class="item">
                        <blockquote>
							Любой дурак сможет написать код, который поймет машина. Хорошие программисты пишут код, который сможет понять человек.
						</blockquote>
                        <cite>
                            <b>- Martin Fowler -</b>
                        </cite>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
{% endblock %}

